.component-container {
  width: 100%;
  min-height: 224px;
  border-radius: 12px;
  border: 2px dashed $inactive-background-color-primary;
  padding: 24px;
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-icon {
    font-size: 86px !important;
    color: $inactive-background-color-primary !important;
  }

  &-label-main {
    font-weight: bold;
    color: $font-color-secondary;
    width: 276px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &-label-secondary {
    margin-top: 6px;
    margin-bottom: 6px;
    color: $font-color-secondary;
    opacity: 0.8;
  }

  &-link-button {
    margin-top: auto;
    text-decoration: underline;
    color: $font-color-secondary;
    cursor: pointer;
  }

  &-label-secondary.file-name {
    margin-top: 6px;
  }

  &-label-secondary.file-size {
    font-size: 14px;
  }
}

.drop-zone {
  padding: 12px 24px 32px;
  
  &.active {
    color: white;
    background: #3D9AE6;
    border-style: solid;
    border-color: #3D9AE6;
    > * {
      color: white !important;
    }
  }
}

.file-input {
  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

  label {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 36px;
    border-radius: 4px;
    background: $primary-color;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
  }
}

.hidden {
  opacity: 0;
}