.modal {
  margin-left: 4.67%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  margin-top: 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  &-container {
    border-radius: 10px;
    padding: 24px;
    background: #fff;
    width: 100%;
    max-width: 476px;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.15);
    outline: none;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &-confirm-btn {
    margin-top: 12px;
    align-self: flex-end;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
  }

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-button {
    width: 50%;
    height: 44px;
  }
}

.modal-title {
  font-size: 22px;
}