$run-card-sm: 1188px;
$run-card-md: 1280px;
$run-card-lg: 1724px;

.run-card {
  max-width: 964px;
}

.run-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.file-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 12px 12px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: $font-color-secondary;
}

.details-section {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.detail-label {
  font-weight: bold;
  margin-right: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 18px;

  @media (min-width: $run-card-md) and (max-width: $run-card-lg) {
    flex-direction: column !important;
  }

  @media (max-width: $run-card-sm) {
    flex-direction: column !important;
  }
}

.card-title {
  font-size: 20px;
  color: $main-theme-color;
}

.progress-bar {
  margin-left: 10px;
}

.run-meta {
  display: flex;
  justify-content: space-evenly;
  flex: 1;

  &.side {
    flex-direction: column;
    padding: 18px 0px 18px 12px;
    margin-left: 36px;
    border-left: 1px solid $inactive-background-color-primary;

    @media (min-width: $run-card-md) and (max-width: $run-card-lg) {
      display: none;
    }

    @media (max-width: $run-card-sm) {
      display: none;
    }
  }

  &.bottom {
    min-width: 264px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid $inactive-background-color-primary;

    @media (min-width: $run-card-lg) {
      display: none;
    }

    @media (min-width: $run-card-sm) and (max-width: $run-card-md) {
      display: none;
    }
  }
}

.run-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}