.top-nav {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  position: sticky !important;
  top: 0px;
  left: 0px;

  &-back-btn {
    padding: 6px !important;
  }

  &-back-icon {
    font-size: 20px !important;
  }
}

.buttons-section {
  margin-left: auto;
}

.top-nav-content {
  width: 100% !important;
}

.top-nav-toolbar {
  width: 100%;
  box-sizing: border-box;
  max-width: 996px;
  padding: 0px 12px 0px 0px !important;
  height: $top-nav-height;
}

.page-title {
  display: flex;
  flex-direction: row;
  font-size: 18px !important;
  
  &-results-label {
    margin-top: auto;
    font-size: 16px;
    margin-left: 6px;
  }
}

.buttons-section {
  font-size: 18px !important;
}