.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky !important;
  top: 0px;
  left: 0px;
}

.buttons-section {
  margin-left: auto;
}

.top-nav-content {
  width: 100% !important;
}

.top-nav-toolbar {
  width: 100%;
  box-sizing: border-box;
  max-width: 996px;
  padding: 0px 12px !important;
}

.page-title {
  font-size: 18px !important;
}

.buttons-section {
  font-size: 18px !important;
}