$success-color: #0487D9;
$inactive-border-color: #0487D9;
$inactive-background-color-secondary: #F2F2F2;
$inactive-background-color-primary: rgba(0,0,0, 0.1);
$error-color: #F22E52;
$font-color-primary: #000;
$font-color-secondary: #3e4246;

$main-theme-color: #1976d2;
$primary-color: #0487D9;

$dashboard-content-left-padding: 15%;
$dashboard-content-right-padding: 25%;

.content-container {
  width: 100%;
  max-width: 960px;
}
