$success-color: #0487D9;
$inactive-border-color: #0487D9;
$inactive-background-color-secondary: #F2F2F2;
$inactive-background-color-primary: rgba(0,0,0, 0.1);
$error-color: #F22E52;
$font-color-secondary: #3e4246;