.dashboard-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
  overflow: hidden;
}

.dashboard-section {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  overflow: hidden;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  padding: 48px 12px;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

.clickable {
  cursor: pointer;
}

.logout-warning-icon {
  font-size: 118px !important;
  color: $inactive-background-color-primary;
}

.connection-issues-icon {
  font-size: 118px !important;
  color: $inactive-background-color-primary;
}