.content-section {
  margin-top: 46px;
  border-radius: 4px;
  width: 100%;
}

.table-container {
  height: 646px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.table-cell {
  background: black !important;
  color: white !important;
  text-transform: uppercase;
}

.download-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  color: $font-color-secondary;
  width: fit-content;
  font-size: 14px;
  >:not(:first-child) {
    margin-left: 2px;
  }
}

.no-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;

  &-icon {
    height: 100px !important;
    width: 100px !important;
    color: $inactive-background-color-primary !important;
  }

  &-label {
    margin-top: 10px;
    font-size: 16px;
    color: $font-color-secondary;
  }
}