html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  margin: 0;
  margin-right: calc(100vw - 100%);
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(232,240,242,0.6);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@import 'style/pages/index';
@import 'style/components/index';
@import 'style/globals';